


<div   class="card"  >
<img class="card-img-top" src= "https://www.capital.fr/imgre/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Fcap.2F2021.2F10.2F13.2F769e6d8b-3b4f-418a-9601-7172b76769c9.2Ejpeg/790x395/background-color/ffffff/focus-point/1177%2C656/quality/70/picwictoys-demandait-une-surprenante-contrepartie-aux-associations-qui-emballent-les-cadeaux-de-noel.jpg" >
   <div class="card-body">
  <p class="card-text">
      <ul>
        Super Nintendo 
        <br>
        <br>
        <li>Cette super Nintendo est une console qui vous permettra de vous divertir et de profiter de moments sympa avec vos amis et membres de votre famille </li>                                                           
      </ul>
                             
  </div>
</div>