<div class="form-card">
    <h3>Formulaire</h3>
    <form [formGroup]= "Form">

    </form>
</div>

<form [formGroup]= "Form">
    <div class="form-group">
        <label for="nom">Prénom</label>
        <input id="nom" type="text" formControlName="nom">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <input id="genre" type="text" formControlName="genre">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input id="age" type="text" formControlName="age">
    </div>
    <div class="form-group">
        <label for="interet">Interets</label>
        <input id="interet" type="text" formControlName="interet">
    </div>
    <div class="action-buttons">
        <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
    </div>
</form>