    
    form{
        display: flex;
        margin-bottom: 5%;
    }
    h3{
        text-align: center;
    }

    .form-group{
        margin: 20px;
    }
form button{
    height: 50px;
    border-radius: 10px;
}