<div class="form-card">
    
    <h3>Formulaire</h3>


<form [formGroup]= "form">
    
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" formControlName="prenom">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select formControlName="genre">
        <option valeur="féminin">Féminin</option>
        <option valeur="masculin">Masculin</option>
        <option valeur="autre">Autre</option>
        </select>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input id="age" type= "number" formControlName="age">
    </div> 
    <div class="form-group">
        <label for="interets">Intérêts</label>
        <input id="interets" type="text" formControlName="interets">
    </div>
    <div class="form-group">
        <label for="prix"><strong>prix maximum</strong></label>
        <input id="prix" type="text" formControlName="prix">
    </div>
    
   
    
        <button type="submit" (click)="onSubmitForm()">Enregistrer</button>

    

    
</form>

<div >
<app-list [listdeCadeaux]="listofGifts"></app-list>
</div>